body {
    background: linear-gradient(90deg, #8955e9, #ffffff);
}

.Evotnua {
    font-family: 'Nabla', cursive;
    font-weight: 600;
    font-size: 4em;
    margin-top: auto;
}

.barreLatteralGauche {
    width: 16em;
    height: 30em;
    padding-bottom: 0em;
    margin: 0;
    border-top: 3px black solid;
    border-right: 3px black solid;
    border-bottom: 3px black solid;
    border-left: 3px black solid;
    border-radius: 10px;
    padding-left: 0;
}

.userSelection {
    /* rien */
}

.defaultFont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

a:link {
    text-decoration: none;
}